@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.button {
  display: block;
  width: 100%;

  padding: 7px 20px;

  @include mixin.font-button;
  background-color: var.$color-basic-green;

  @media (min-width: var.$tablet-width) {
    padding: 14px 20px;
  }

  border: none;
}

.button--limited-size-l {
  @media (min-width: var.$tablet-width) {
    width: 282px;
  }

  @media (min-width: var.$desktop-width) {
    width: 568px;
  }
}

.button:hover,
.button:focus {
  background-color: var.$color-basic-green-hover;
}

.button:active {
  background-color: var.$color-basic-green-hover;
  color: rgba(255, 255, 255, 0.3);
}

.button.disabled {
  background-color: var.$color-basic-green-hover;

  opacity: 0.5;
}
