@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.button {
  display: block;
  width: 100%;

  padding: 10px 20px;

  @include mixin.font-button;
  background-color: var.$color-basic-green;

  @media (min-width: var.$tablet-width) {
    padding: 10px 20px;
  }

  border: none;
}

.button--promo {
  @media (max-width: var.$mobile-width-only) {
    padding: 11px 20px;

    font-size: var.$font-m;
    line-height: var.$line-height-m;
  }

  @media (min-width: var.$tablet-width) {
    padding: 17px 20px;
    width: 244px;

    font-size: var.$font-ll;
  }
}

.button--limited-size-l {
  @media (min-width: var.$tablet-width) {
    padding: 16px 20px;
    width: 282px;

    font-size: var.$font-ll;
  }

  @media (min-width: var.$desktop-width) {
    width: 568px;
  }
}

.button--limited-size-m {
  @media (min-width: var.$tablet-width) and (max-width: var.$tablet-width-only) {
    margin: 0 38px;
    width: calc(100% - (38px * 2));
  }
}

.button:hover,
.button:focus {
  background-color: var.$color-basic-green-hover;
}

.button:active {
  background-color: var.$color-basic-green-hover;
  color: rgba(255, 255, 255, 0.3);
}

/*Добавить соответствующей кнопке класс "disabled" для активации стилей неактивной кнопки*/
.button.disabled {
  background-color: var.$color-basic-green-hover;

  opacity: 0.5;
}

.button--more {
  padding: 10px 20px;

  color: var.$color-special-darkgrey;

  background-color: var.$color-basic-grey;
}

.button--more:hover,
.button--more:focus {
  background-color: var.$color-catalog-border;
}

.button--more.disabled {
  background-color: var.$color-basic-grey;

  opacity: 0.5;
}

.button--more:active {
  color: var.$color-special-darkgrey;

  background-color: var.$color-catalog-border;

  opacity: 0.3;
}
