@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.catalog-item {
  @media (max-width: var.$mobile-width-only) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 19px 0 24px;

    border-bottom: 1px solid var.$color-catalog-border;
  }

  @media (min-width: var.$tablet-width) {
    padding: 0 0 39px;

    background-image: linear-gradient(to bottom, var.$color-basic-white 0%, var.$color-basic-white 46px, var.$color-basic-grey 46px, var.$color-basic-grey 100%);
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 0 40px;

    background-image: linear-gradient(to bottom, var.$color-basic-white 0%, var.$color-basic-white 53px, var.$color-basic-grey 53px, var.$color-basic-grey 100%);
  }
}

.catalog-item--large {
  @media (min-width: var.$tablet-width) {
    background-image: linear-gradient(to bottom, var.$color-basic-white 0%, var.$color-basic-white 79px, var.$color-basic-grey 79px, var.$color-basic-grey 100%);
  }

  @media (min-width: var.$desktop-width) {
    background-image: linear-gradient(to bottom, var.$color-basic-white 0%, var.$color-basic-white 84px, var.$color-basic-grey 84px, var.$color-basic-grey 100%);
  }
}

.catalog-item--more {
  display: flex;
  flex-direction: column;

  background-image: none;

  @media (max-width: var.$mobile-width-only) {
    padding: 0 20px 25px;
  }

  @media (min-width: var.$tablet-width) {
    padding: 0 38px 36px;
    min-height: 428px;

    border: 2px solid var.$color-basic-grey;
  }
}

.catalog-item__image-link {
  display: block;
  width: 100%;

  @media (max-width: var.$mobile-width-only) {
    padding: 0 36px 2px;
  }

  @media (min-width: var.$tablet-width) {
    margin: 0 0 35px;
    padding: 0 81px 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 42px;
    padding: 0 40px 0 42px;
  }
}

.catalog-item--large .catalog-item__image-link {
  padding: 1px 28px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 35px;
    padding: 6px 78px 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 46px;
    padding: 0 34px 0 39px;
  }
}

.catalog-item__image-link--chicken-small {
  @media (max-width: var.$mobile-width-only) {
    padding: 4px 36px 11px;
  }
}

.catalog-item--large .catalog-item__image-link--chicken-big {
  @media (min-width: var.$tablet-width) {
    margin: 0 0 29px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 40px;
  }
}

.catalog-item__image-link--fish-small {
  @media (max-width: var.$mobile-width-only) {
    padding: 17px 36px 6px;
  }
}

.catalog-item__image-link--buckwheat-small {
  @media (max-width: var.$mobile-width-only) {
    padding: 20px 36px 3px;
  }

  @media (min-width: var.$tablet-width) {
    margin: 0 0 36px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 43px;
  }
}

.catalog-item__image-link--rice-small {
  @media (max-width: var.$mobile-width-only) {
    padding: 16px 36px 6px;
  }
}

.catalog-item__image-link:hover,
.catalog-item__imgage-link:focus {
  opacity: 0.8;
}

.catalog-item__image-link:active {
  opacity: 0.7;
}

.catalog-item__image-wrapper {
  @media (max-width: var.$mobile-width-only) {
    padding: 10px 0 14px 20px;
  }
}

.catalog-item__image {
  max-width: 68px;

  @media (min-width: var.$tablet-width) {
    max-width: 162px;
  }
}

.catalog-item--large .catalog-item__image {
  max-width: 100px;

  @media (min-width: var.$tablet-width) {
    max-width: 168px;
  }
}

.catalog-item:last-child .catalog-item__image {
  max-width: 72px;
}

.catalog-item__title-link {
  display: block;
}

.catalog-item__title-link:hover,
.catalog-item__title-link:focus {
  opacity: 0.6;
}

.catalog-item__title-link:active {
  opacity: 0.3;
}

.catalog-item__title {
  @include mixin.font-subtitle-catalog;

  margin: 0 0 14px;
  width: 76px;

  @media (min-width: var.$tablet-width) {
    margin: 0 auto 12px;
    width: 145px;

    text-align: center;
  }
}

.catalog-item__description-list {
  @include mixin.list-reset;

  margin: 0 0 23px;
  padding: 0 20px 0 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 33px;
    padding: 0 37px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 36px 0 40px;
  }
}

.catalog-item__description-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: var.$tablet-width) {
    padding: 7px 0 8px;

    border-bottom: 1px solid var.$color-special-grey;
  }
}

.catalog-item__description-term {
  @include mixin.font-catalog-small;
  width: calc(50% - 10px);
}

.catalog-item__description-definition {
  @include mixin.font-catalog-small;
  text-align: right;
  width: calc(50% - 10px);
}

.catalog-item__button {
  padding: 10px 20px;

  @media (max-width: var.$mobile-width-only) {
    margin: 0 20px;
    width: calc(100% - 40px);
    grid-column: span 2;
  }

  @media (min-width: var.$tablet-width) {
    margin: 0 37px 0 39px;
    width: calc(100% - (37px + 39px));
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 38px 0 39px;
    width: calc(100% - (38px + 39px));
  }
}

.catalog-item__more-link {
  display: block;

  background-repeat: no-repeat;

  @media (max-width: var.$mobile-width-only) {
    margin: 0 auto 8px;
    padding: 78px 0 0;

    background-image: url("../img/plus-icon-mobile.svg");
    background-size: 30px 30px;
    background-position: center 25px;
  }

  @media (min-width: var.$tablet-width) {
    margin: 0 auto 9px;
    padding: 158px 0 0;

    background-image: url("../img/plus-icon-desktop.svg");
    background-size: 60px 60px;
    background-position: center 49px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 155px 0 0;

    background-position: center 48px;
  }
}

.catalog-item__more-link:hover,
.catalog-item__more-link:focus {
  opacity: 0.6;
}

.catalog-item__more-link:active {
  opacity: 0.3;
}

.catalog-item--more .catalog-item__title {
  @media (max-width: var.$mobile-width-only) {
    margin: 0;
    width: 100%;

    text-align: center;
  }
}

.catalog-item__text {
  @include mixin.font-catalog-small;

  margin: 0 auto auto;
  text-align: center;

  @media (max-width: var.$mobile-width-only) {
    margin: 0 auto 21px;
  }

  @media (min-width: var.$tablet-width) {
    max-width: 165px;

    line-height: var.$line-height-m;
  }
}
