@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.catalog-list {
  @include mixin.list-reset;

  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 62px;
    align-items: start;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 59px;
  }
}

.catalog-list__item:nth-child(odd) {
  @media (min-width: var.$tablet-width) {
    margin: 33px 0 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 31px 0 0;
  }
}

.catalog-list__item:last-child {
  @media (min-width: var.$tablet-width) {
    margin: 81px 0 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 84px 0 0;
  }
}
