@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.contacts {
  position: relative;
}

.contacts__text-wrapper {
  @media (max-width: var.$tablet-width-only) {
    padding: 0;
  }

  position: relative;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;

  @media (min-width: var.$tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: var.$desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 1;

    padding: 60px 54px 60px 80px;
    width: 565px;

    background-color: var.$color-basic-white;
  }
}

.contacts__text--page-inner {
  @media (max-width: var.$tablet-width-only) {
    background-color: var.$color-basic-grey;
  }
}

.contacts__lead {
  width: 138px;

  @include mixin.font-contacts-lead;

  @media (min-width: var.$tablet-width) {
    width: 165px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  width: 140px;

  @include mixin.font-address;

  @media (min-width: var.$tablet-width) and (max-width: var.$tablet-width-only) {
    text-align: right;
  }

  @media (min-width: var.$tablet-width) {
    margin: -6px 0 0;
    row-gap: 19px;
    width: 180px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 360px;

  border: none;

  @media (min-width: var.$tablet-width) {
    height: 400px;
  }
}

.contacts__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 360px;

  @media (min-width: var.$tablet-width) {
    height: 400px;
  }
}
