@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.input-tel-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;

  padding: 0 0 14px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 20px;
  }
}

.input-tel-box__label {
  max-width: calc(50% - 10px);

  @include mixin.font-input;

  margin: 0 10px 0 0;

  @media (min-width: var.$tablet-width) {
    max-width: calc(50% - 20px);

    margin: 0 20px 0 0;
  }
}

.input-tel-box__icon {
  position: absolute;
  right: 17px;
  bottom: 29px;

  color: var.$color-special-darkgrey-alternative;

  @media (min-width: var.$tablet-width) {
    right: 20px;
    bottom: 39px;
  }
}

.input-tel-box__input-tel:focus + .input-tel-box__icon {
  color: var.$color-basic-green;
}

.input-tel-box__input-tel:disabled + .input-tel-box__icon {
  opacity: 0.3;
}

.input-tel-box__input-tel.is-error + .input-tel-box__icon {
  color: var.$color-status-error;
}
