@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.input-text {
  padding: 14px 20px 13px;
  flex-grow: 1;

  @include mixin.font-input;

  @media (min-width: var.$tablet-width) {
    padding: 11px 20px;
  }

  border: 1px solid var.$color-input;
}

.input-text:hover {
  border: 1px solid var.$color-special-grey;
}

.input-text:focus {
  outline: none;
  border: 1px solid var.$color-special-darkgrey;
}

.input-text:disabled {
  opacity: 0.5;
  border: 1px solid var.$color-input;
}

/*Для отображения ошибки соответствующему элементу input добавить класс "is-error"*/
.input-text.is-error {
  border: 1px solid var.$color-status-error;
}
