@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.input-tel {
  padding: 14px 45px 12px 15px;
  flex-grow: 1;

  @include mixin.font-input;

  @media (min-width: var.$tablet-width) {
    padding: 10px 60px 10px 20px;
  }

  border: 1px solid var.$color-input;
}

.input-tel:hover {
  border: 1px solid var.$color-special-grey;
}

.input-tel:focus {
  border: 1px solid var.$color-special-darkgrey;
  outline: 1px solid var.$color-special-darkgrey;
}

.input-tel:disabled {
  opacity: 0.5;
  border: 1px solid var.$color-input;
  outline: none;
}

/*Для отображения ошибки соответствующему элементу input добавить класс "input-tel--is-error"*/
.input-tel--is-error {
  border: 1px solid var.$color-status-error;
  outline: 1px solid var.$color-status-error;
}
