@use "../global/variables.scss" as var;

.logo {
  display: block;
  width: calc(100% - 24px - 20px);

  @media (min-width: var.$tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: var.$desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__image {
  margin: 0;
  width: 34px;
  height: 38px;

  @media (min-width: var.$tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: var.$desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__inscription {
  position: absolute;
  left: 50%;
  bottom: 24px;

  margin: 0;
  display: block;
  width: 101px;
  height: 18px;

  transform: translateX(-50%);

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
