@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.page-header {
  @media (min-width: var.$desktop-width) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
  }
}

.page--inner .page-header {
  position: relative;
}

.page-header__main-nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: var.$mobile-width-only) {
    padding: 10px 0 17px;
    min-height: 65px;
  }

  @media (min-width: var.$desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo {
  margin-right: 0 20px 0 0;
}

.page-header__toggle {
  margin: 12px 0 0;
  padding: 8px 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.page-header__main-nav--opened .page-header__toggle {
  position: absolute;
  right: 2px;
  top: 28px;
  z-index: 11;

  margin: -8px 0 0;
  display: block;
  width: 20px;
  height: 20px;
}

.page-header__burger {
  display: block;
  width: 24px;
  height: 2px;

  background-color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.page-header__main-nav--opened .page-header__burger {
  width: 25px;

  transform: translate(-2px, 0) rotate(-45deg);
}

.page-header__burger::before {
  content: "";

  display: block;
  width: 24px;
  height: 2px;

  background-color: var.$color-basic-black;

  transform: translate(0, -8px);
}

.page-header__main-nav--opened .page-header__burger::before {
  width: 25px;

  transform: translate(0, 0) rotate(90deg);
}

.page-header__burger::after {
  content: "";

  display: block;
  width: 24px;
  height: 2px;

  background-color: var.$color-basic-black;

  transform: translateY(6px);
}

.page-header__main-nav--opened .page-header__burger::after {
  display: none;
}
