@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.program-form-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  border: none;

  @media (max-width: var.$mobile-width-only) {
    padding: 0 20px 23px;
  }

  @media (min-width: var.$tablet-width) and (max-width: var.$tablet-width-only) {
    padding: 0 0 72px;
  }
}

.program-form-group--radio {
  padding: 22px 20px 5px;

  @media (max-width: var.$mobile-width-only) {
    border-top: 1px solid var.$color-programs-list-border-grey;
    border-bottom: 1px solid var.$color-programs-list-border-grey;
  }

  @media (min-width: var.$tablet-width) {
    padding: 24px 28px 11px;

    border: 1px solid var.$color-input;
  }
}

.program-form-group--contacts {
  padding: 0 0 8px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 45px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 0 47px;
  }
}

.program-form-group--textarea {
  padding: 0 0 23px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 65px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 0 68px;
  }
}

.program-form-group--checkboxes {
  padding: 0 0 19px;

  @media (min-width: var.$desktop-width) {
    padding: 0 0 29px;
  }
}

.program-form-group__title {
  padding: 0;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  width: 100%;
  word-break: normal;

  @media (max-width: var.$mobile-width-only) {
    padding: 0 0 0 20px;
  }

  @include mixin.font-subtitle-form;
  margin: 0 0 35px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 76px;
  }
}

.program-form-group__title::before {
  @media (min-width: var.$tablet-width) {
    content: "";

    margin: 22px 39px 0 0;
    flex-shrink: 0;
    min-width: 30px;
    height: 2px;
    background-color: var.$color-basic-green;
  }

  @media (min-width: var.$desktop-width) {
    margin: 22px 40px 0 0;
    width: 70px;
  }
}

.program-form-group__title::after {
  content: "";

  margin: 16px 0 0 14px;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 99px;
  height: 2px;
  background-color: var.$color-basic-green;

  @media (min-width: var.$tablet-width) {
    margin: 22px 0 0 42px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 22px 0 0 40px;
  }
}

.program-form-group--textarea .program-form-group__title {
  margin: 0 0 39px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 76px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 75px;
  }
}

.program-form-group--textarea .program-form-group__title::after {
  margin: 16px 0 0 22px;

  @media (min-width: var.$tablet-width) {
    margin: 22px 0 0 38px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 22px 0 0 40px;
  }
}

.program-form-group--checkboxes .program-form-group__title {
  margin: 0 0 34px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 57px;
  }
}

.program-form-group--checkboxes .program-form-group__title::before {
  @media (min-width: var.$tablet-width) {
    margin: 22px 40px 0 0;
  }
}

.program-form-group--checkboxes .program-form-group__title::after {
  margin: 16px 0 0 23px;

  @media (min-width: var.$tablet-width) {
    margin: 22px 0 0 41px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 22px 0 0 40px;
  }
}

.program-form-group__contacts-boxes-wrapper {
  padding: 0 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 67px 0 70px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 78px;
  }
}

.program-form-group__checkboxes-wrapper {
  padding: 0 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 67px 3px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 57px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 110px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.program-form-group__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
