@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.site-menu {
  margin-left: auto;

  @include mixin.list-reset;

  @media (max-width: var.$mobile-width-only) {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    margin: 17px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 35px;
    max-width: 440px;
  }

  @media (min-width: var.$desktop-width) {
    gap: 34px;
    max-width: 610px;
  }
}

.page-header__main-nav--opened .site-menu {
  @media (max-width: var.$mobile-width-only) {
    position: absolute;
    left: -20px;
    right: -20px;
    top: 66px;
    z-index: 10;

    display: flex;
    flex-direction: column;
  }
}

.site-menu__link {
  @include mixin.font-site-menu;

  @media (min-width: var.$tablet-width) {
    padding: 8px 0;
  }

  @media (min-width: var.$desktop-width) {
    padding: 6px 0;
  }
}

.page--inner .site-menu__link {
  color: var.$color-basic-black;
}

.page-header__main-nav--opened .site-menu__link {
  @media (max-width: var.$mobile-width-only) {
    padding: 22px 0 24px;
    display: block;
    width: 100%;

    background-color: var.$color-basic-white;
    border-top: 1px solid var.$color-menu-border;
  }
}

.site-menu__link:hover,
.site-menu__link:focus {
  opacity: 0.6;
}

.page-header__main-nav--opened .site-menu__link:hover,
.page-header__main-nav--opened .site-menu__link:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
}

.site-menu__link:active {
  opacity: 0.3;
}

.page-header__main-nav--opened .site-menu__link:active {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

.site-menu__link--current {
  @media (min-width: var.$tablet-width) {
    border-bottom: 2px solid var.$color-basic-green;
  }

  @media (min-width: var.$desktop-width) {
    border-bottom: 2px solid var.$color-basic-white;
  }
}

.page--inner .site-menu__link--current {
  @media (min-width: var.$desktop-width) {
    border-color: var.$color-basic-green;
  }
}
