@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.textarea-box {
  padding: 0 20px 0 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 67px 0 70px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 110px 0 110px;
  }
}
