@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.to-catalog-link {
  padding: 4px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include mixin.font-to-catalog-link;
}

.to-catalog-link::after {
  content: "";

  margin: 0 0 0 15px;
  display: block;
  width: 24px;
  height: 12px;
  background-image: url("../img/arrow-right-black.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 12px;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 0 27px;
  }
}

.to-catalog-link:hover::after,
.to-catalog-link:focus::after {
  width: 32px;

  background-image: url("../img/arrow-right-black-long.svg");
  background-size: 32px 12px;
}

.to-catalog-link:active,
.to-catalog-link:active::after {
  opacity: 0.3;
}
