@use "fonts.scss";
@use "variables.scss" as var;

@mixin font-main-text {
  margin: 0;

  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-m;
  color: var.$color-special-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-l;
    line-height: var.$line-height-l;
    color: var.$color-basic-black;
  }
}

@mixin font-button {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-m;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-basic-white;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ml;
  }
}

@mixin font-example-term {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-mobile-xl;
  line-height: var.$line-height-l;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

@mixin font-example-definition {
  margin: 0;

  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-s;
  line-height: var.$line-height-xxs;
  text-transform: lowercase;
  text-align: center;
  color: var.$color-special-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-m;
    line-height: var.$line-height-xs;
  }
}

@mixin font-example-price {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-ml;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
  }
}

@mixin font-contacts-lead {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-ml;
  color: var.$color-alternative-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ll;
  }
}

@mixin font-address {
  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-ml;
  font-style: normal;
  color: var.$color-basic-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-l;
  }
}

@mixin font-main-lead {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-xs;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-basic-white;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ml;
    text-align: start;
    color: var.$color-basic-black;
  }
}

@mixin font-catalog-small {
  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-s;
  line-height: var.$line-height-s;
  color: var.$color-basic-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-l;
  }
}

@mixin font-catalog-additional-item-text {
  margin: 0;

  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-xs;
  color: var.$color-special-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-l;
    line-height: var.$line-height-ml;
  }
}

@mixin font-promotion {
  margin: 0;

  font-family: "Lato", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-ml;
  text-align: center;
  color: var.$color-basic-white;

  @media (min-width: var.$tablet-width) and (max-width: $tablet-width-only) {
    text-align: start;
  }
}

@mixin font-form-lead {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-m;
  line-height: var.$line-height-m;
  text-transform: uppercase;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-lll;
  }
}

@mixin font-input {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-m;
  text-transform: uppercase;
  color: var.$color-special-darkgrey;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ll;
  }
}

@mixin font-radio {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-m;
  text-transform: uppercase;
  color: var.$color-special-darkgrey-alternative;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ll;
  }
}

@mixin font-checkbox {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-m;
  text-transform: uppercase;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ll;
  }
}

@mixin font-subtitle-main {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-mobile-xl;
  line-height: var.$line-height-mobile-xl;
  font-weight: var.$normal;
  text-transform: uppercase;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-desktop-xxl;
    line-height: var.$line-height-desktop-xxl;
  }
}

@mixin font-subtitle-catalog {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-ml;
  font-weight: var.$normal;
  text-transform: uppercase;
  color: var.$color-special-darkgrey-alternative;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-l;
  }
}

@mixin font-subtitle-catalog-alter {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-l;
  line-height: var.$line-height-s;
  font-weight: var.$normal;
  text-transform: uppercase;
  color: var.$color-special-darkgrey-alternative;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-ll;
    line-height: var.$line-height-ml;
  }
}

@mixin font-title-large {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-mobile-xxl;
  line-height: var.$line-height-mobile-xxl;
  font-weight: var.$normal;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-xxxl;
    line-height: var.$line-height-xxxl;
  }
}

@mixin font-section-title-catalog {
  margin: 0;

  font-family: "Oswald", Arial, sans-serif;
  font-size: var.$font-mobile-xl;
  line-height: var.$line-height-l;
  color: var.$color-basic-black;

  @media (min-width: var.$tablet-width) {
    font-size: var.$font-desktop-xxl;
    line-height: var.$line-height-desktop-xxl;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
