@use "fonts.scss";

$main-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

$font-s: 12px;
$font-m: 14px;
$font-ml: 16px;
$font-l: 18px;
$font-ll: 20px;
$font-mobile-xl: 24px;
$font-desktop-xl: 36px;
$font-mobile-xxl: 36px;
$font-desktop-xxl: 36px;
$font-xxxl: 60px;
$font-advantages-number: 280px;

$line-height-xxs: 12px;
$line-height-xs: 14px;
$line-height-s: 16px;
$line-height-m: 18px;
$line-height-ml: 20px;
$line-height-l: 24px;
$line-height-ll: 26px;
$line-height-lll: 30px;
$line-height-desktop-xl: 36px;
$line-height-desktop-xxl: 36px;
$line-height-mobile-xl: 37px;
$line-height-mobile-xxl: 40px;
$line-height-xxxl: 60px;
$line-height-advantages-number: 280px;

$normal: 400;
$medium: 500;

$color-basic-white: #ffffff;
$color-basic-black: #000000;
$color-basic-green: #68b738;
$color-basic-green-hover: #5eaa2f;
$color-basic-background-grey: #eaeaea;
$color-catalog-border: #ebebeb;
$color-menu-border: #e6e6e6;
$color-basic-grey: #f2f2f2;
$color-alternative-black: #111111;
$color-basic-darkgrey: #666666;
$color-special-grey: #cdcdcd;
$color-special-darkgrey: #444444;
$color-special-darkgrey-alternative: #222222;
$color-programs-list-border-grey: #d9d9d9;
$color-footer-logo-hover: #3e3e3e;
$color-footer-logo-active: #6b6b6b;
$color-input: #e7e7e7;
$color-radio-input-hover: #bababa;
$color-status-error: #ff8282;

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
