@use "../global/variables.scss" as var;

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: var.$tablet-width) {
    padding: 0 30px;
    width: 100%;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 110px;
    max-width: 1920px;
  }
}
